.write{
    padding-top: 25px;
}
.writeForm{
    position: relative;
}
.writeImg{
    width: 70vw;
    height: 280px;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 120px;
}
.writeFormGroup{
    margin-left: 120px;
    display: flex;
    align-items: center;
}
.titleIcon{
    width: 25px;
    height: 25px;
    border: 1px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.writeInput{
    font-size: 30px;
    border: none;
    width: 70vw;
    padding: 20px;
    outline: none;
}
.writeText{
    font-size: 20px;
    height: 100vh;
}
.writeSubmit{
    position: absolute;
    top: 20px;
    right: 50px;
    border: none;
    border-radius: 12px;
    padding: 10px;
    background-color: teal;
    color: white;
    cursor: pointer;
}